{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <title>BoilerEvents</title>
</head>
<body class="bg">

<style>
    .bg-violet {
      background-color: rgb(220, 16, 220);
    }
</style>

<nav class="navbar navbar-expand-md navbar-light bg-warning">
<div class="container">
    <a class="navbar-brand" href="{% url 'home' %}">
        <b><span>BoilerEvents</span></b>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
    {% if user.is_authenticated %}
        <ul class="navbar-nav mr-auto">
            
                <li class="nav-item " style="margin-right: 7px; margin-left: 7px;">
                    <a class="nav-link" href="{% url 'mail' %}">Mail</a>
                </li> 
                <li class="nav-item " style="margin-right: 7px; margin-left: 7px;">
                    <a class="nav-link" href="{% url 'event' %}">Event</a>
                </li> 
            
        </ul>
        <ul class="navbar-nav">
                
                <span class="navbar-text" style="margin-right: 15px;">
                 Logged in as {{ user.username }}
                </span>
                
                <form action="{% url 'logoutuser' %}" method="POST">
                     {% csrf_token %}

                <button type="submit" class="btn" style="background-color:goldenrod;">Logout</button>
                </form>
        </ul>
                
    {% else %}

        <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'signupuser' %}">Sign Up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'loginuser' %}">Login</a>
                </li>
        </ul>

    {% endif%}
    
</div>
</nav>

<div class="container">
{% block content %}{% endblock %}
</div>